<!DOCTYPE html>
<html>
<head>
  <title>Redefinição de Senha</title>
</head>
<body>
  <p>Olá,</p>
  <p>Está é a sua nova senha:</p>
  <p>{{ corpo }}</p>
  <p>por medidas de segurança, troque a senha no seu painel após logar</p>
</body>
</html>