<!DOCTYPE html>
<html>
<head>
  <title>Redefinição de Senha</title>
</head>
<body>
  <p>Olá,</p>
  <p>Recebemos uma solicitação para redefinir a senha da sua conta. Clique no link abaixo para continuar:</p>
  <p><a href="{{ resetLink }}">Redefinir Senha</a></p>
  <p>Se você não solicitou uma redefinição de senha, ignore este e-mail.</p>
</body>
</html>