<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Redefinição de Senha</title>
</head>

<body>
  <div>
    <p>Olá, {{name}}</p>
    <p>Está é a sua nova senha: {{ newPassword }}</p>
    <p>Por medidas de segurança, troque a senha no seu painel após efetuar o login</p>
  </div>
</body>

</html>